@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Yorumlar</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Ana Sayfa</a></li>
                        <li class="breadcrumb-item active">Yorumlar</li>
                    </ol>
                </div>

            </div>
        </div><!-- /.container-fluid -->
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Tüm Yorumlar</h3>
                        </div>
                        <div class="card-body">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th width="150px">Ad Soyad</th>
                                        <th width="200px">Mail</th>
                                        <th>Yorum</th>
                                        <th width="150px">Tarih</th>
                                        <th width="100px">Saat</th>
                                        <th width="200px" class="text-center">Durum</th>
                                       
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
</div>


@section scripts {

    @* Datatable için gerekli olan kütüphaneler *@
    <script src="~/AdminLTE-3.2.0/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/AdminLTE-3.2.0/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/AdminLTE-3.2.0/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/AdminLTE-3.2.0/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/AdminLTE-3.2.0/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/AdminLTE-3.2.0/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/AdminLTE-3.2.0/plugins/jszip/jszip.min.js"></script>
    <script src="~/AdminLTE-3.2.0/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/AdminLTE-3.2.0/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/AdminLTE-3.2.0/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/AdminLTE-3.2.0/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/AdminLTE-3.2.0/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>

    <script>
        $(document).ready(function () {

            // Sayfa yüklendiğinde verileri çekmek için AJAX isteği gönder
            $.ajax({
                url: '/Admin/Comment/GetComment', // Verileri almak için gerekli olan URL'yi ayarlayın
                type: 'GET', // Verileri almak için GET isteği gönderiyoruz
                dataType: 'json', // Sunucudan alınacak veri türü
                success: function (data) {
                    // AJAX isteği başarılı olduğunda verileri işleyin
                    // Burada data değişkeni ile alınan verilere erişebilirsiniz
                    console.log(data); // Konsola verileri yazdırın (isteğe bağlı)


                    var commentStatusSelect = $('#modal-lg select');
                    commentStatusSelect.append('<option value="Onayla">Onayla</option>');
                    commentStatusSelect.append('<option value="İptal Et">İptal Et</option>');
                    // DataTable'ı oluşturun ve verileri ekleyin
                    $('#example1').DataTable({
                        data: data, // Tabloya eklenecek veriler
                        columns: [ // Sütunları tanımlayın
                            { data: 'FullName', width: '150px' },
                            { data: 'Email', width: '200px' },
                            { data: 'Content' },
                            {
                                data: 'CommentDate',
                                width: '100px',
                                render: function (data, type, row) {
                                    var date = new Date(data);
                                    var formattedDate = date.getDate().toString().padStart(2, '0') + '/' +
                                        (date.getMonth() + 1).toString().padStart(2, '0') + '/' +
                                        date.getFullYear();
                                    if (type === 'display' || type === 'filter') {
                                        return formattedDate;
                                    }
                                    return data; // Sorting uses the original date format
                                }
                            },
                            { data: 'CommentTime', width: '100px' },
                            {
                                data: 'CommentStatus',
                                width: '160px',
                                className: 'text-center',
                                render: function (data, type, row, meta) {
                                    // Durum Değiştir düğmesini oluşturun ve modal'ı açmak için gerekli öznitelikleri ekleyin
                                    if (row.CommentStatus === 'Onaylandı') {
                                        return '<span class="badge badge-success">' + row.CommentStatus + '</span>';
                                    } else if (row.CommentStatus === 'Onay Bekliyor') {
                                        return '<span class="badge badge-warning">' + row.CommentStatus + '</span>';
                                    } else {
                                        return '<span class="badge badge-danger">' + row.CommentStatus + '</span>';
                                    }
                                }
                            }
                        ],
                        "paging": true, // Sayfalama özelliğini etkinleştir
                        "lengthChange": false, // Kayıt sayısı seçme alanını kapat
                        "searching": false, // Arama özelliğini devre dışı bırak
                        "ordering": true, // Sıralama özelliğini etkinleştir
                        "order": [[3], [4]],
                        "info": true, // Tablo bilgi kısmını göster
                        "autoWidth": false, // Otomatik genişlik ayarını devre dışı bırak
                        "responsive": true, // Duyarlılık özelliğini etkinleştir
                        "buttons":
                            [ // İsteğe bağlı olarak ekstra düğmeler ekleyin
                                'copy', 'excel', 'pdf'
                            ]
                    }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
                },
                error: function (xhr, status, error) {
                    // AJAX isteği başarısız olduğunda hata mesajını konsola yazdırın
                    console.error(xhr.responseText);
                }
            });
        });

    </script>

}