﻿

<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/Admin/Dashboard/Index" class="brand-link">
        <img src="~/AdminLTE-3.2.0/dist/img/AdminLTELogo.png"
             alt="AdminLTE Logo"
             class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text text-center font-weight-light">Blogy</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
          
            <div class="info">
                <a href="/Admin/Dashboard/Index" class="d-block">Admin</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a href="/Default/Index" class="nav-link">
                        <i class="fi fi-sr-apps"></i> &ensp;
                        <p>
                            Siteye Git
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Dashboard/Index" class="nav-link">
                        <i class="fi fi-sr-home"></i> &ensp;
                        <p>
                            Dashboard
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Blog/Index" class="nav-link">
                        <i class="fi fi-sr-globe"></i>&ensp;
                        <p>
                            Blog
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">
                        <i class="fi fi-sr-calendar-clock"></i>&ensp;
                        <p>
                            Yorum
                            <i class="right fas fa-angle-down"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview" style="display: none;">
                        <li class="nav-item">
                            <a href="/Admin/Comment/Index" class="nav-link">
                                <i class="far fas fa-angle-right nav-icon"></i>
                                <p>Tüm Yorumlar</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Admin/Comment/AcceptedCommentList" class="nav-link">
                                <i class="far fas fa-angle-right nav-icon"></i>
                                <p>Onaylanan Yorumlar</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Admin/Comment/WaitingCommentList" class="nav-link">
                                <i class="far fas fa-angle-right nav-icon"></i>
                                <p>Onay Bekleyen Yorumlar</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Admin/Comment/CanceledCommentList" class="nav-link">
                                <i class="far fas fa-angle-right nav-icon"></i>
                                <p>İptal Edilen Yorumlar</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Writer/Index" class="nav-link">
                        <i class="fi fi-sr-mailbox"></i> &ensp;
                        <p>
                            Yazarlar
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Login/LogOut" class="nav-link">
                        <i class="fi fi-sr-sign-out-alt"></i>&ensp;
                        <p>
                            Çıkış
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>