

<nav class="sidebar sidebar-offcanvas" id="sidebar" >
    <div class="text-center sidebar-brand-wrapper d-flex align-items-center">
        <a class="sidebar-brand brand-logo" href="/Member/Dashboard/Index"><img src="~/Breeze/template/assets/images/logo.svg" alt="logo" /></a>
        <a class="sidebar-brand brand-logo-mini pl-4 pt-3" href="/Member/Dashboard/Index"><img src="~/Breeze/template/assets/images/logo-mini.svg" alt="logo" /></a>
    </div>
    <ul class="nav">
        <li class="nav-item nav-profile">
            <a href="/Member/Dashboard/Index" class="nav-link">
                <div class="nav-profile-image">
                    <img src="/writerImages/@ViewBag.Image" alt="profile" />
                    <span class="login-status online"></span>
                    <!--change to offline or busy as needed-->
                </div>
                <div class="nav-profile-text d-flex flex-column pr-3">
                    <span class="font-weight-medium mb-2"> @ViewBag.Writer</span>
                </div>
                <span class="badge badge-warning text-white ml-3 rounded">@ViewBag.Articles</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Default/Index">
                <i class="mdi mdi-home menu-icon"></i>
                <span class="menu-title">Siteye Git</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Member/Dashboard/Index">
                <i class="mdi mdi-file menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Member/Blog/Index">
                <i class="mdi mdi-contacts menu-icon"></i>
                <span class="menu-title">Blog</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Member/Profile/Index">
                <i class="mdi mdi-format-list-bulleted menu-icon"></i>
                <span class="menu-title">Profile</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Login/LogOut">
                <i class="fi fi-sr-sign-out-alt"></i>
                <span class="menu-title">Çıkış</span>
            </a>
        </li>
    </ul>
</nav>